@using DataModels.ViewModel
@model TableDataViewModel
@{
    ViewData["Title"] = "Employee Management System";
}
<div class="container-fluid px-5">
    <div class="row">
        <div>
            <div class="form-floating mb-3">
                <input type="search" asp-for="Email"
                       class="form-control AdminLoginEmail "
                       placeholder="Username"
                       aria-label="Username" required />
                <span class="text-danger" id="tempvalidationspan"></span>
                <label class="d-flex justify-content-around" asp-for="Email">Search </label>
                <i class="bi bi-person-circle username-icon icons d-block mobile-icon" role="button" id="eye-icon"></i>
            </div>
        </div>
    </div>
    <div class="table-responsive p-0" id="data_Table">
    </div>
    <div id="Model"></div>
</div>
