@{
    Layout = "_NotHeader";
}
@model HalloDoc.DataModels.AspNetUser
<Partial name="Toast" />

<img class="background-img  d-block " />
<div class="container-fluid p-0 m-0">

    <div class="row g-0 d-flex justify-content-center align-items-center" style=" min-height:85vh;">
        <div class="col-10 p-0 col-sm-7 col-md-5 col-lg-5 col-xxl-4 col-xl-5   align-items-center">
            <div class="justify-content-center d-flex">
                <img src="/images/hallodoc-transparent.png" alt="" />
            </div>
            <div style="min-height:65vh;">
                <form onsubmit="return validate()" asp-action="resetPassword" asp-controller="Home" method="post">
                   
                    <div class="d-flex justify-content-center my-2 ">
                        <h3>Reset Your Password</h3>
                    </div>
                    <div class="form mt-xxl-5 mt-lg-2 mt-3">
                       
                        <div class="col-12 d-flex justify-content-center mb-xxl-3">
                            <div class="col-12 form-floating mb-3  text-input-max-width">
                                <input type="email" asp-for="Email" hidden />
                                <input type="password" asp-for="PasswordHash"
                                       class="form-control" id="pswd"
                                       placeholder="Username"
                                       aria-label="Username" />
                                <label class="d-flex justify-content-between" asp-for="PasswordHash">Password </label>
                                <span id="password"></span>
                                <i class="bi bi-eye-fill username-icon icons d-block mobile-icon" role="button" id="eye-icons" onclick="hideviewpswd()"></i>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center mb-xxl-3">
                            <div class="col-12 form-floating mb-3  text-input-max-width">
                                <input type="password" id="pswdcnf" 
                                       class="form-control" placeholder="Username"
                                       aria-label="Username" />
                                <label class="d-flex justify-content-between">Confirm Password </label>
                                <span id="confirmPassword"></span>
                                <i class="bi bi-eye-fill username-icon icons d-block mobile-icon" role="button" id="eye-iconc" onclick="hideviewpswdcnf()"></i>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center mb-xxl-3 ">
                            <button type="submit" class="btn btn-info w-100 btn-lg text-white text-input-max-width">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    function validate(){
        console.log("hello");
    var password = document.getElementById("pswd");
    var cnfpassword = document.getElementById("cnfpswd");
    var passwordError = document.getElementById("password");
    var cnfpasswordError = document.getElementById("confirmPassword");

    passwordError.innerHTML = '';
    cnfpasswordError.innerHTML = '';

    var isValid = true;
    
    if (password === ''){
        passwordError.innerHTML = 'Enter Your Password';
        isValid = false;
    }
    if (cnfpassword === '') {
        passwordError.innerHTML = 'Enter Confirm Password';
        isValid = false;
    }
    if (cnfpassword == password) {
        passwordError.innerHTML = 'Password and Confirm-Password Not Match';
        isValid = false;
    }

    return isValid;

    }
</script>


