@model HalloDoc.Models.ViewModel.patientRequest ;
@{
    Layout = "_dashboard";
}
<div class="bg-light">
    <!-- form input -->

    <div class="container">
        <div class="d-flex justify-content-between w-100 mb-2">
            <h4>Submit Information</h4>
            <a asp-area="" asp-controller="Dashboard" asp-action="PatientDashboard"
               class="btn m-0 btn-outline-info  px-2 ">
                <i class="fa-solid fa-chevron-left"></i>
                Back
            </a>
        </div>
        <form method="post" asp-action="Patient" asp-controller="PatientRequest" enctype="multipart/form-data">
            <div class="row bg-white  px-4 py-2">
                <h5 class="mb-3 mt-4 fw-semibold">Patient Information</h5>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control" asp-for="Notes"
                              placeholder="Leave a comment here"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea" class="ms-2 text-secondary">Enter Brief details about symptoms(optional)</label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input asp-for="FirstName" hidden />
                    <input type="text" asp-for="FirstName"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" disabled />
                    <label class="d-flex justify-content-between ms-2">First Name </label>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input asp-for="LastName" hidden />

                    <input type="text" asp-for="LastName"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" disabled />
                    <label class="d-flex justify-content-between ms-2">Last name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    @{
                        string max = DateTime.Now.ToString("yyyy-MM-dd");
                    }
                    <input type="date" asp-for="BirthDate"
                           class="form-control pt-2"
                           placeholder="Username"
                           aria-label="Username" max=@max />
                    <span class="text-danger" asp-validation-for="BirthDate"></span>
                </div>
                <h5 class="mb-3 mt-4 fw-semibold">Patient contact Information</h5>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input asp-for="Email" hidden />
                    <input type="email" asp-for="Email"
                           class="form-control" id="patientEmail"
                           placeholder="Username" onblur="checkEmailExists()" disabled />
                    <label class="d-flex justify-content-between ms-2">Email </label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <div class="form-control p-0">
                        <input id="phone" asp-for="PhoneNumber"
                               type="tel"
                               name="PhoneNumber" maxlength="10"
                               style="border: none; padding: 17.5px 2% 17.5px 50px; width:inherit" />
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>

                <h5 class="mb-3 mt-4 fw-semibold">Patient Location</h5>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="Street"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">Street </label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="City"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">City </label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="State"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">State </label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="ZipCode"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">Zip code </label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">
                        Room # / Suite (optional)
                    </label>
                </div>

                <div class="col-12 col-sm-6 form-floating mb-3">
                    <a class="btn btn-outline-info p-3" href="https://www.google.com/maps/">
                        <i class="bi bi-geo-alt"></i> Map
                    </a>
                </div>

                <h5 class="mb-3 mt-4 fw-semibold">
                    (Optional) Upload Photo or Document
                </h5>

                <div class="mt-1">
                    <div class="row d-flex">
                        <div class="p-2 col-12 ">
                            <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                                <div class="px-3">
                                    <input type="text" id="file-chosen" class="border border-0" placeholder="No item selected" disabled />
                                </div>
                                <div role="button" class="uploadbtn p-2 d-flex">
                                    <input type="file" id="actual-btn" multiple hidden asp-for="Upload" />
                                    <label role="button" for="actual-btn" class="d-flex align-items-center">
                                        <i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end pb-2">
                    <button type="submit" class="btn me-2 px-2 btn-info text-white">Submit</button>
                    <button type="reset" class="btn px-2 btn-outline-info">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>