@{
    Layout = "_dashboard";
}

<ul class="nav nav-tabs ps-3">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
    </li>

</ul>


<div class="container pt-3" style="height:77vh;">
    <h6>
        <b>
                        Medical History
        </b>
    </h6>

    <div class="container-fluid  bg-light py-2">
        <div class="d-flex justify-content-end">
        <button class="btn btn-outline-info btn-sm">Create New Request</button>

        </div>
    </div>

</div>

