<!-- Modal -->
<div class="modal fade  mt-5 border-2" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New Request</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="redirect" asp-route-c2="me" asp-controller="Dashboard" method="post">
                <div class="modal-body d-flex justify-content-center">
                    <div class="px-2">
                        <input type="radio" id="me" name="selectrequesttype" value="true" hidden>
                        <label for="me"><button type="button" class="btn border border-1 border-info text-info">Me</button></label>
                        @{
                            bool isChecked = me.Checked;
}
                        <input type="radio" id="someone" name="selectrequesttype" value="false" hidden>
                        <label for="someone"><button type="button" class="btn border border-1 border-info text-info">Some One Else</button></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" onclick="redirect()">Continue</button>
                    <button type="button" class="btn border border-1 border-info text-info" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@using System.Globalization;
@model HalloDoc.Models.ViewModel.PatientDashboard ;
@{
    Layout = "_dashboard";
}

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="bg-light">
            <div class="container-fluid px-xxl-5 px-md-3 px-1  pt-3" style="min-height:77vh;">
                <h5 class="ps-1">
                    <b>
                        Medical History
                    </b>
                </h5>
                <div class="container-fluid px-3 bg-white py-2">
                    <div class="d-flex justify-content-end py-2">
                        <a class="btn btn-outline-info btn-sm" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" asp-controller="PatientRequest" asp-action="Patient"><i class="bi bi-plus-lg pe-1"></i>Create New Request</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead style="background-color:lightgray">
                                <tr>
                                    <th scope="col" id="dtBasicExamples">Created Date<i class="fa-solid fa-arrow-down ps-2"></i></th>
                                    <th scope="col" id="dtBasicExamples">Current Status</th>
                                    <th scope="col">Document</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.requests)
                                {
                                    <tr class="text-black">
                                        <td>
                                            @item.CreatedDate.ToString("MMM dd , yyyy")

                                        </td>
                                        <td>

                                            @Model.findStatus(item.Status)
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-info" asp-action="ViewDocument" asp-controller="Dashboard" asp-route-requestid="@item.RequestId">
                                                @item.RequestWiseFiles.Count() Document
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container mt-3 ">
            <div class="d-flex mb-2">
                <div class="row ">
                    <div class="d-flex justify-content-between col-12">
                        <h4 class="pt-1">User Profile</h4>
                        <a asp-area="" asp-controller="PatientRequest" asp-action="CreateRequest"
                           class="btn m-0 btn-outline-info  px-2 ">
                            <i class="fa-solid fa-chevron-left"></i>
                            Back
                        </a>
                    </div>
                    <form id="thisform" asp-controller="Dashboard" asp-action="edit">
                        <div class=" row bg-white mt-2 p-3 g-1 g-sm-3">
                            <h5 class="pt-1">General Information</h5>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="text" asp-for="users.FirstName"
                                       class="form-control" id="age"
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between ms-2">First Name </label>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="text" asp-for="users.LastName"
                                       class="form-control" id="name"
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between ms-2">Last name</label>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="date" asp-for="users.CreatedDate"
                                       class="form-control pt-4 text-black "
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between ms-2">Birth Date</label>
                                <span class="text-danger"></span>
                            </div>
                            <h5 class="pt-1">Contact Information</h5>
                            <div class="col-6">
                                <div class="row">
                                    <div class="dropdown form-floating col-12 col-sm-4">
                                        <button class="btn border dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:58px;">
                                            Type
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8 form-floating mb-3">
                                        <div class="form-control p-0">
                                            <input id="phone" asp-for="users.Mobile"
                                                   type="tel"
                                                   name="phone" disabled
                                                   style="border: none; padding: 18px 2% 18px 50px" />
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="email" asp-for="users.Email"
                                       class="form-control"
                                       placeholder="Username" disabled
                                       aria-label="Username" />
                                <label class="d-flex justify-content-between ms-2">Email </label>
                                <span class="text-danger"></span>
                            </div>
                            <h5 class="pt-1">Location Information</h5>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="text" asp-for="users.Street"
                                       class="form-control" disabled
                                       placeholder="Username"
                                       aria-label="Username" />
                                <label class="d-flex justify-content-between ms-2">Street </label>
                                <span asp-validation-for="users.Street" class="text-danger"></span>

                            </div>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="text" asp-for="users.City"
                                       class="form-control" disabled
                                       placeholder="Username"
                                       aria-label="Username" />
                                <label class="d-flex justify-content-between ms-2">City </label>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="text" asp-for="users.State"
                                       class="form-control"
                                       placeholder="Username" disabled
                                       aria-label="Username" />
                                <label class="d-flex justify-content-between ms-2">State </label>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-12 col-sm-6 form-floating mb-3">
                                <input type="text" asp-for="users.ZipCode"
                                       class="form-control"
                                       placeholder="Username" disabled
                                       aria-label="Username" />
                                <label class="d-flex justify-content-between ms-2">Zip code </label>
                                <span class="text-danger"></span>
                            </div>

                            <div class="d-flex justify-content-end mb-5">

                                <button type="submit" class="btn btn-info me-3" id="savebtn" hidden>Save</button>


                                <button type="reset" class="btn btn-info " id="canclebtn" hidden>Cancle</button>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-end mb-5">
                        <button class="btn btn-info " id="editButton">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //phone number saw
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const inputHome = document.querySelector("#home");
    window.intlTelInput(inputHome, {
        initialCountry: 'gb',
        placeholderNumberType: 'FIXED_LINE',
        utilsScript: "/intl-tel-input/js/utils.js?1705750707383" // just for formatting/placeholders etc
    });

</script>

