@model HalloDoc.Models.ViewModel.request
@{
    Layout = "_dashboard";
}
<div class="bg-light">
    <!-- form input -->
    <div class="container">
        <div class="d-flex justify-content-between w-100 mb-2">
            <h4>Submit Information</h4>
            <a asp-area="" asp-controller="Dashboard" asp-action="PatientDashboard"
               class="btn m-0 btn-outline-info  px-2 ">
                <i class="fa-solid fa-chevron-left"></i>
                Back
            </a>
        </div>
        <form asp-action="FamilyFriend" asp-controller="PatientRequest" method="post" enctype="multipart/form-data" id="formfamily">
            <div class="row bg-white  px-4 py-2">
                <h5 class="mb-3 mt-4 fw-semibold">Patient Information</h5>
                <div class="form-floating col-12 mb-3">
                    <textarea class="form-control" asp-for="Notes"
                              placeholder="Leave a comment here"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea" class="ms-2 text-secondary">Enter Brief details about symptoms(optional)</label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="FirstName"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">First Name </label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="LastName"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">Last name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    @{
                        string max = DateTime.Now.ToString("yyyy-MM-dd");
                    }
                    <input type="date" asp-for="BirthDate"
                           class="form-control pt-2"
                           placeholder="Username"
                           aria-label="Username" max=@max />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <h5 class="mb-3 mt-4 fw-semibold">Patient contact Information</h5>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="email" asp-for="Email"
                           class="form-control"
                           placeholder="Username" id="emailpatientfamilyfriend"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">Email </label>
                    <span asp-validation-for="Email" id="patientemailvalidationspan" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <div class="form-control p-0">
                        <input id="phone" asp-for="PhoneNumber"
                               type="tel"
                               name="PhoneNumber"
                               style="border: none; padding: 18px 2% 18px 50px;" />
                    </div>
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>

                <h5 class="mb-3 mt-4 fw-semibold">Patient Location</h5>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="Street"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">Street </label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="City"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">City </label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="State"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">State </label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text" asp-for="ZipCode"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">Zip code </label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="col-12 col-sm-6 form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Username"
                           aria-label="Username" />
                    <label class="d-flex justify-content-between ms-2">
                        Room # / Suite (optional)
                    </label>
                </div>
                <h5 class="mb-3 mt-4 fw-semibold">Relation</h5>
                <div class="col-12 col-sm-6   form-floating mb-3 ">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    <label class="d-flex justify-content-between  ms-2">
                        Relation with Patient
                    </label>
                </div>
                <h5 class="mb-3 mt-4 fw-semibold">
                    (Optional) Upload Photo or Document
                </h5>
                <div class="mt-1">
                    <div class="row d-flex">
                        <div class="p-2 col-12 ">
                            <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                                <div class="px-3">
                                    @*<label class="choosenfile text-dark small" id="file-chosen">No item selected</label>*@
                                    <input type="text" id="file-chosen" class="border border-0" placeholder="No item selected" disabled />
                                </div>
                                <div role="button" class="uploadbtn p-2 d-flex">
                                    <input type="file" id="actual-btn" asp-for="Upload" multiple hidden />
                                    <label role="button" for="actual-btn" class="d-flex align-items-center">
                                        <i class="bi bi-cloud-arrow-up p-2"></i><div>Upload</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end pb-2">
                    <button type="button" class="btn me-2 px-2 btn-info text-white" id="createuseraccountsubmit">Submit</button>
                    <button type="reset" class="btn px-2 btn-outline-info">Cancel</button>
                </div>
                <h6 class="text-danger small">Note: If You Request For Patient And That email is not Exist then Crete Account Link Will Sent On Patient Email,<br />&emsp;&emsp;&nbsp;&nbsp; First Crete account Then and only then this form will submit,<br />&emsp;&emsp;&nbsp;&nbsp; Do not Close This form untill Patient create Account </h6>
            </div>
        </form>
    </div>
</div>
<script>
    var check = 1;
    $('#createuseraccountsubmit').click(function () {
        var email = $('#emailpatientfamilyfriend').val();
        var regexemail = /^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
        if (email == "") {
            $('#patientemailvalidationspan').html("Please Enter Email")
        }
        else if (!regexemail.test(email)) {

            $('#patientemailvalidationspan').html("Please Enter Valid Email")
        }
        else {
            if (check == 1) {


                $.ajax({
                    url: '/PatientRequest/CheckUserExist',
                    data: { email: email },
                    success: function (data) {
                        if (data) {
                            check = 2;
                            document.getElementById("createuseraccountsubmit").type = "submit";
                            $('#createuseraccountsubmit').click();
                        }
                        else {
                            $.ajax({
                                url: '/PatientRequest/CreateUserSendMail',
                                data: { email: email },
                                success: function (data) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Email Sent Successfully",
                                        text: "Crete User Account Page Link Sent on Patient Account, First Crete account and then try to submit this form"
                                    });
                                }
                            });

                        }
                    },
                });
            }
        }
    })
</script>