@{
    Layout = "_dashboard";
}

<div class="container  pt-3">
    <div class="d-flex justify-content-between mb-2">
        <h4>Documents</h4>
        <a asp-area="" asp-controller="PatientRequest" asp-action="CreateRequest"
           class="btn m-0 btn-outline-info  px-2 ">
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </a>
    </div>
    <div class="container-fluid bg-white px-3 pt-3">
        <div class="row">
            <div class="col-12  text-secondary " style="font-size:15px;">Patient Name</div>
            <div class="col-12 text-secondary">

                <strong class="h4 text-info">Testing Test </strong>(MN00CS12KT32)
            </div>
            <div class="col-12  text-secondary pt-2" style="font-size:13px;">Check here for any files that you or the doctors of your subsequenc requests have attached for you to review</div>
            <div class="mt-1">
                <div class="row d-flex">
                    <div class="p-2 col-12 ">
                        <div class="form-group rounded d-flex align-items-center justify-content-between uploadbtndiv">
                            <div class="px-3">
                                @*<label class="choosenfile text-dark small" id="file-chosen">No item selected</label>*@
                                <input type="text" style="width:40vw;" id="file-chosen" class="border border-0" placeholder="No item selected" disabled />
                            </div>
                            <div role="button" class="uploadbtn  d-flex">
                                <input type="file" id="actual-btn" multiple hidden />
                                <label role="button" for="actual-btn" class="d-flex align-items-center px-2">
                                    <i class="bi bi-cloud-arrow-up p-2"></i>Upload
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between mb-2 pt-3">
                <h5>Documents</h5>
                <a
                   class="btn m-0 btn-outline-info  px-2 ">
                    Download all
                </a>
            </div>
        </div>
    </div>
</div>