@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr><th>Start Date</th></tr>
        <tr><th>End Date</th></tr>
        <tr><th>Status</th></tr>
        <tr><th>Action</th></tr>
    </thead>
    <tbody>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
    </tbody>
</table>