.new {
    background-color: #e9eaef;
    color: #203f9a;
    border: 1px solid #203f9a;
}

.pending {
    background-color: #e5f2f8;
    color: #36a6c9;
    border: 1px solid #36a6c9;
}

.activecase {
    background-color: #e9f0e8;
    color: #367f40;
    border: 1px solid #367f40;
}

.conclude {
    background-color: #f7e6ee;
    color: #ac3d7d;
    border: 1px solid #ac3d7d;
}

.toclose {
    background-color: #e5eef5;
    color: #2573b0;
    border: 1px solid #2573b0;
}

.unpaid {
    background-color: #efeef4;
    color: #906cb6;
    border: 1px solid #906cb6;
}

.allstatus {
    width: 16.666666666666666667%;
    outline: none !important;
    border: none !important;
}

    .allstatus :focus-visible {
        outline: none !important;
    }

.nav-link {
    padding: 8px;
}

.bottomarrow {
    position: absolute;
    left: 45%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: none;
    height: 0px;
    width: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent !important;
    border: 0px;
}


.nav-tabs .allstatus .nav-link.active .new {
    color: white;
    background-color: #203f9a;
}

    .nav-tabs .allstatus .nav-link.active .new + .bottomarrow {
        border-top: 15px solid #203f9a;
    }

.nav-tabs .allstatus .nav-link.active .pending {
    color: white;
    background-color: #36a6c9;
}

    .nav-tabs .allstatus .nav-link.active .pending + .bottomarrow {
        border-top: 15px solid #36a6c9;
    }

.nav-tabs .allstatus .nav-link.active .activecase {
    color: white;
    background-color: #367f40;
}

    .nav-tabs .allstatus .nav-link.active .activecase + .bottomarrow {
        border-top: 15px solid #367f40;
    }

.nav-tabs .allstatus .nav-link.active .conclude {
    color: white;
    background-color: #ac3d7d;
}

    .nav-tabs .allstatus .nav-link.active .conclude + .bottomarrow {
        border-top: 15px solid #ac3d7d;
    }

.nav-tabs .allstatus .nav-link.active .toclose {
    color: white;
    background-color: #2573b0;
}

    .nav-tabs .allstatus .nav-link.active .toclose + .bottomarrow {
        border-top: 15px solid #2573b0;
    }

.nav-tabs .allstatus .nav-link.active .unpaid {
    color: white;
    background-color: #906cb6;
}

    .nav-tabs .allstatus .nav-link.active .unpaid + .bottomarrow {
        border-top: 15px solid #906cb6;
    }



@media only screen and (max-width:900px) {
    .allstatus {
        width: 33.3%
    }

    .bottomarrow {
        display: none;
    }
}

@media only screen and (max-width:500px) {
    .icons {
        display: none;
    }

    .small {
        font-size: 0.75rem
    }
}

.bn632-hover {
    width: fit-content;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    /* height: 55px; */
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 33px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-right: 8px;
}

    .bn632-hover:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .bn632-hover:focus {
        outline: none;
    }

    .bn632-hover.bn26 {
        background-image: linear-gradient( to right, #25aae1, #4481eb, #04befe, #3f86ed );
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    }


.green-dot {
    --bs-table-bg: #5fbc61 !important;
    color: #5fbc61 !important;
}

.orange-dot {
    --bs-table-bg: #ed9124 !important;
    color: #ed9124 !important;
}

.pink-dot {
    --bs-table-bg: #e4657c !important;
    color: #e4657c !important;
}

.cyan-dot {
    --bs-table-bg: #007fc6 !important;
    color: #007fc6 !important;
}

.purple-dot {
    --bs-table-bg: #933cb5 !important;
    color: #933cb5 !important;
}

.dataTables_length {
    padding-left: 11px !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 50px;
}

.nav-link:hover {
    border: none !important;
}

.nav-tabs {
    border-bottom: none;
}

.pagination-active {
    background-color: red !important;
    color: white !important;
}

.pagination-active1 {
    background-color: blue !important;
    color: white !important;
}

.offcanvas {
    width: 80% !important;
    height: inherit !important;
    position: absolute !important;
    top: 80px !important;
}

.offcanvas-backdrop {
    position: absolute !important;
}

.offcanvas-body {
    padding-bottom: 0px;
}

.accordion-button::after {
    display: none;
}

.width-xs-clamp {
    width: clamp(48px, 25vw, 100px) !important;
}

.font-size-xs-clamp {
    font-size: clamp(10px, 2vw, 15px) !important;
}

.font-size-s-clamp {
    font-size: clamp(8px, 3vw, 12px) !important;
}

.font-size-m-clamp {
    font-size: clamp(12px, 4vw, 20px) !important;
}

.viewCaseBtn {
    border: 2px solid #906cb6;
    background-color: #efeef4;
    color: #906cb6;
    transform: translateY(-15px);
    z-index: 5 !important;
}

.admin-layout-nav-active {
    border-bottom: 2px solid #17a2b8 !important;
    color: #17a2b8 !important;
}

.admin-layout-nav {
    margin: 10px 5px;
    padding: 5px;
    text-decoration: none;
    color: #6c757d;
    border-radius: 5px;
}

    .admin-layout-nav:hover {
        padding: 2px 5px 5px 5px;
        border-bottom: 2px solid #17a2b8 !important;
        color: rgb(11 139 160) !important;
        font-size: 16.4px;
        letter-spacing: 0.5px;
        transition-property: letter-spacing,font-size,padding !important;
        transition-duration: 0.3s !important
    }

.admin-layout-nav-mobile-active {
    background-color: lightgray !important;
}

.dropdown-item:hover {
    background-color: #17a2b8;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    transition-property: letter-spacing !important;
    transition-duration: 0.3s !important;
}

input[type="file" i] {
    color: white;
    background-color: white !important;
}

#file-upload-button {
    background-color: red !important;
}

.btn-info {
    color: white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.border-bottom-active {
    border-bottom: 2px solid #17a2b8 !important;
}

input[type="date" i] {
    border: 0px;
    background-color: transparent;
    background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    position: absolute;
    /*opacity: 0;*/
    margin-top: 3px;
}
