@{
    Layout = "_NotHeader";
    ViewData["Title"] = "Forgot-Password";
}
<Partial name="Toast" />

<div class="container-fluid h-100">
    <div class="row d-flex flex-row h-100">
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex ">
            <div>
                <img src="/images/11116016_415.jpg" alt="" class="admin-photo w-100 h-100">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-around " style="height:100vh">
                <div class="d-flex justify-content-center  d-none d-sm-block">
                    <img src="/images/hallodoc-transparent.png" alt="">
                </div>
                <div class="d-flex flex-column">
                    <div class="form mb-4 mt-5">
                        <h2>Reset Your Password</h2>
                    </div>
                    <div>
                        <input id="generatedconfirmationcode" />
                        <div class="form-floating mb-3" id="email-forgotpassword-div">
                            <input id="email-forgotpassword" type="text" class="form-control" placeholder="Username" aria-label="Username">
                            <label class="d-flex justify-content-between  ">
                                Email
                            </label>
                            <i class="bi bi-person-circle username-icon icons d-block mobile-icon" role="button" id="eye-icon"></i>
                            <span class="text-danger" id="email-forgotpassword-span"></span>
                            <div class="d-flex justify-content-end p-0 m-0">
                                <button class="btn btn-outline-info mt-2 btn-lg fs-6 border-0 rounded-pill m-0" id="sendcodeforgotpassword">Send Code</button>
                            </div>
                        </div>
                        <div class="form-floating mb-3" id="confirmationcode-forgotpassword-div">
                            <input id="confirmationcode-forgotpassword" type="text" class="form-control" placeholder="Username" aria-label="Username">
                            <label class="d-flex justify-content-between  ">
                                Confirmation Code
                            </label>
                            <span class="text-danger" id="confirmationcode-forgotpassword-span"></span>
                        </div>
                        <div class="form-floating mb-3 d-none" id="password-forgotpassword-div">
                            <input id="password-forgotpassword" type="text" class="form-control" placeholder="Username" aria-label="Username">
                            <label class="d-flex justify-content-between  ">
                                New Password
                            </label>
                            <span class="text-danger" id="password-forgotpassword-span"></span>
                        </div>
                        <div class="form-floating mb-3 d-none" id="confirmpassword-forgotpassword-div">
                            <input id="confirmpassword-forgotpassword" type="text" class="form-control" placeholder="Username" aria-label="Username">
                            <label class="d-flex justify-content-between  ">
                                Confirm Password
                            </label>
                            <span class="text-danger" id="confirmpassword-forgotpassword-span"></span>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-info btn-lg text-white w-100 " id="checkcodeforgotpassword">Check Code</button>
                        <button class="btn btn-info btn-lg text-white w-100 d-none" id="updatepasswordforgotpassword">Forgot Password</button>
                    </div>
                    <div class=" d-flex justify-content-center mb-5 mt-3">
                        <a class="btn text-info   fw-semibold    " asp-action="AdminLogin"><i class="bi bi-chevron-compact-left"></i>Back To Login</a>
                    </div>
                </div>
                <div class=" d-flex justify-content-center" style="height:5vh;">
                    <span class="text-secondary"> Terms and Condition | Privacy Policy</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/Admin/AdminCredential.js" asp-append-version="true"></script>