@{
    Layout = "_OnlyLinks";
}
@using Services.ViewModels
@model PayRateViewModel
<input asp-for="PhysicianId" id="PhysicianIdPayRate" hidden />
<div class="container pb-4 bg-light px-1 px-sm-2 px-lg-5" id="provider-maindiv">
    <div class="d-flex justify-content-between align-items-center w-100 my-3">
        <h4>Payrate</h4>
        <a asp-controller="Admin" asp-action="AdminDashboard"
           class="btn m-0 btn-outline-info  px-2 ">
            <i class="fa-solid fa-chevron-left"></i>
            Back
        </a>
    </div>
    <div class="container-fluid bg-white shadow">
        <div class="row table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="align-middle text-center">Category</th>
                        <th class="align-middle text-center">PayRate</th>
                        <th class="align-middle text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="align-middle text-center">Nightshift Weekend</td>
                        <td class="align-middle text-center">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="NightShiftWeekEnd"
                                       class="form-control payratevalue" 
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between">PayRate</label>
                                <span class="small text-danger" ></span>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <button class="btn btn-info text-white px-4 editbtnPayrate">Edit</button>
                            <button class="btn btn-info text-white px-4 savebtnPayrate d-none" data-payrate-type="NSWE">Save</button>
                            <button class="btn btn-info text-white px-4 d-none cancelbtnPayrate">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">Shift</td>
                        <td class="align-middle text-center">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="Shift"
                                       class="form-control payratevalue" 
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between">PayRate</label>
                                <span class="small text-danger"></span>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <button class="btn btn-info text-white px-4 editbtnPayrate">Edit</button>
                            <button class="btn btn-info text-white px-4 savebtnPayrate d-none" data-payrate-type="shift">Save</button>
                            <button class="btn btn-info text-white px-4  d-none cancelbtnPayrate">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">HouseCall Nights Weekend</td>
                        <td class="align-middle text-center">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="HouseCallNightWeekEnd"
                                       class="form-control payratevalue" 
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between">PayRate</label>
                                <span class="small text-danger"></span>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <button class="btn btn-info text-white px-4 editbtnPayrate">Edit</button>
                            <button class="btn btn-info text-white px-4 savebtnPayrate d-none" data-payrate-type="HCNWE">Save</button>
                            <button class="btn btn-info text-white px-4  d-none cancelbtnPayrate">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">PhoneConsults</td>
                        <td class="align-middle text-center">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="PhoneConsult"
                                       class="form-control payratevalue" 
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between">PayRate</label>
                                <span class="small text-danger"></span>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <button class="btn btn-info text-white px-4 editbtnPayrate">Edit</button>
                            <button class="btn btn-info text-white px-4 savebtnPayrate d-none" data-payrate-type="PC">Save</button>
                            <button class="btn btn-info text-white px-4 d-none cancelbtnPayrate">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">PhoneConsults Night Weekend</td>
                        <td class="align-middle text-center">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="PhoneConsultNightWeekEnd"
                                       class="form-control payratevalue" 
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between">PayRate</label>
                                <span class="small text-danger"></span>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <button class="btn btn-info text-white px-4 editbtnPayrate">Edit</button>
                            <button class="btn btn-info text-white px-4 savebtnPayrate d-none" data-payrate-type="PCNWE">Save</button>
                            <button class="btn btn-info text-white px-4 d-none cancelbtnPayrate">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">Batch Testing</td>
                        <td class="align-middle text-center">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="BatchTesting"
                                       class="form-control payratevalue"
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between">PayRate</label>
                                <span class="small text-danger"></span>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <button class="btn btn-info text-white px-4 editbtnPayrate">Edit</button>
                            <button class="btn btn-info text-white px-4 savebtnPayrate d-none" data-payrate-type="BT">Save</button>
                            <button class="btn btn-info text-white px-4  d-none cancelbtnPayrate">Cancel</button>

                        </td>
                    </tr>
                    <tr>
                        <td class="align-middle text-center">HouseCalls</td>
                        <td class="align-middle text-center">
                            <div class="form-floating mb-3">
                                <input type="text" asp-for="HouseCalls"
                                       class="form-control payratevalue"
                                       placeholder="Username"
                                       aria-label="Username" disabled />
                                <label class="d-flex justify-content-between">PayRate</label>
                                <span class="small text-danger"></span>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <button class="btn btn-info text-white px-4 editbtnPayrate">Edit</button>
                            <button class="btn btn-info text-white px-4 savebtnPayrate d-none" data-payrate-type="HC">Save</button>
                            <button class="btn btn-info text-white px-4  d-none cancelbtnPayrate">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script asp-append-version="true">
    var PhysicianId = $('#PhysicianIdPayRate').val();
    function resetData() {
        $.ajax({
            url: '/Provider/PayRate',
            data: { "PhysicianId": PhysicianId },
            success: function (data) {
                $('#EditProviderMainDiv').html(data);
            }
        })
    }
    $('.cancelbtnPayrate').click(function () {
        resetData();
    });

    $('.editbtnPayrate').click(function () {
        console.log("nswe")
        $(this).siblings().removeClass('d-none')
        $(this).addClass('d-none');
        $(this).closest('tr').find(".payratevalue").prop('disabled', false);
    });

    $('.savebtnPayrate').click(function () {
        let FieldCheck = $(this).data('payrate-type');
        let value = $(this).closest('tr').find('.payratevalue').val();
        console.log(FieldCheck)
        console.log(value)
        if (value.trim() == "") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Value is required",
            });
        }
        else if (value < 0) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Enter valid Value",
            });
            $(this).closest('tr').find('.payratevalue').val("")
        }
        else if (value > 100000) {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Value must be between 1 to 100k",
            });
            $(this).closest('tr').find('.payratevalue').val("")
        }
        else {
            debugger
            
            $.ajax({
                url: '/Provider/UpdatePayrate',
                type: 'POST',
                data: {
                    FieldCheck: FieldCheck,
                    PhysicianId: PhysicianId,
                    PayrateValue: value
                },
                success: function (response) {
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Response submited successfull...!",
                        showConfirmButton: false,
                        timer: 1500
                    });
                    resetData();
                },
            })
        }
    });


</script>
