@{
    Layout = "_Admin";
}

<div class="container pb-4 bg-light px-5">
    <div class="d-flex justify-content-between align-items-center w-100 my-3">
        <h4>Provider Information</h4>

    </div>
    <div class="container-fluid bg-white shadow">
        <div class="row">
            <div class="col-12 d-flex justify-content-between mt-3 ">
                <div class="dropdown d-flex">
                    <select name="regionname" id="RegionSearch" class="form-select shadow-none getregion h-100" style="min-width:100px" aria-label="Floating label select example">
                        <span class="search-icon "></span>
                        <i class="bi bi-search"></i>
                        <option class="regionselect" value="1234" selected>All</option>

                    </select>

                </div>
                <button class="btn btn-info text-white">Create Provider Account</button>
            </div>
            <div class="table-responsive col-12 my-2">
                <table class="table align-middle">
                    <thead class="bg-light">
                        <tr>
                            <th>Stop Notification</th>
                            <th>Provider Name</th>
                            <th>Role</th>
                            <th>Call On Status</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="datatable" class="bg-white">
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
