@using Services.ViewModels
@model ProviderDetailsViewModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Provider";
}

<div class="container pb-4 bg-light px-5" id="provider-maindiv">
    <div class="d-flex justify-content-between align-items-center w-100 my-3">
        <h4>Provider Information</h4>
    </div>
    <div class="container-fluid bg-white shadow">
        <div class="row">
            <div class="col-12 d-flex justify-content-between mt-3 ">
                <div class="dropdown d-flex">
                    <select name="regionname" id="RegionSearch" class="form-select shadow-none getregion h-100" style="min-width:100px" aria-label="Floating label select example">
                        <option class="regionselect" selected value="0">All Region</option>
                        @foreach (var item in Model.regionlist)
                        {
                            <option class="regionselect" value="@item.RegionId">@item.Name</option>
                        }
                    </select>
                </div>
                <a class="btn btn-info text-white" asp-action="CreateProviderAccount">Create Provider Account</a>
            </div>
            <div class="table-responsive col-12 my-2" id="ProviderTableDiv">
            </div>
        </div>
    </div>
</div>

@*contact your provider modal*@
<div class="modal fade" id="ContactProviderModal" tabindex="-1" role="dialog" aria-labelledby="ContactProviderModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Contact Your Provider</h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ContactProviderModal" method="post">
                    <small class="text-secondary">Choose communication to send message.</small>
                    <br>
                    <div class="mt-3">
                        <label>
                            <input type="radio" id="smscontact" name="contactMethod" value="SMS"> SMS
                        </label>
                        <br>
                        <label class="mt-2">
                            <input type="radio" id="emailcontact" name="contactMethod" value="Email"> Email
                        </label>
                        <br>
                        <label class="mt-2">
                            <input type="radio" id="bothcontact" name="contactMethod" value="Both"> Both
                        </label>
                    </div>
                    <div class="form-floating mt-3">
                        <textarea id="message-contactprovidermodel" class="form-control shadow-none" placeholder="Message" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Message</label>
                        <span id="message-providercontactmodal-span" class="small text-danger"></span>
                    </div>
                    <div class="d-flex float-end mt-4">
                        <button type="button" id="contactprovidersubmitbtn" class="btn btn-info text-white mx-2 shadow-none">Send</button>
                        <button type="button" class="btn border-info text-info shadow-none" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/js/Provider/Provider.js" asp-append-version="true"></script>